*{
    margin: 0;
}
.container {
    width: 100%;
    height: 100%;
    max-width: 330px;
    position: fixed;
    top: 0;
    left: 600px;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
}
.class {
    background-color: #fcfaea;
    border: 2px solid #d9caca;
    box-shadow: 6px 6px 7px 0 #8e8e8c;
}
.title { 
    background-color: #c9bba0;
    margin: 7px 0 0 5px;
}
.title h1 {
    color: #442200;
    font-size: 35px;
}
h2 {
    color: #660000;
    padding: 20px 0 0 5px;
}
p {
    padding: 20px 3px 0 30px;
    font-size: 20px;
}
.drink {
    padding: 20px 3px 15px 30px;
}
.discription {
    border-bottom: 2px solid #7e7e7e;
    margin-left: 5px;
}
